<!doctype html>
{% load staticfiles %}

<h1>HTC One M9+ 極光版</h1> 

<p><img src={% static 'wiki/img/M9.png' %} alt=M9></p>


<ul class="featurelist" style="list-style: none; padding: 0px; margin: 0px; float: left; width: 690px; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-style: solid solid none; border-top-color: rgb(170, 170, 170); border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px;">
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">尺寸</label>
        <div class="size" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            150.99 x 71.99 x 9.61 mm</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">重量</label>
        <div class="weight" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            168g</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">SIM 卡規格</label>
        <div class="sim" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            nanoSIM</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">防水防塵</label>
        <div class="ipx" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">螢幕技術</label>
        <div class="screen" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        5.2 吋 2560 x 1440 SLCD</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">作業系統</label>
        <div class="os" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            Android 5.1</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">處理器</label>
        <div class="cpu" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            八核心 MTK Helio X10 MT6795T 2.2GHz</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶體</label>
        <div class="ram1" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            3GB RAM</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">儲存空間</label>
        <div class="rom" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            32GB (實際可用空間較此值少)</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶卡</label>
        <div class="card" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            microSD (最大支援容量 2TB)</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">通訊協定</label>
        <div class="system" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            2G GSM 四頻、3G WCDMA 850 + 900 + 2100<br />
            4G LTE 700 + 900 + 1800 + FDD 2600</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">雙卡雙待</label>
        <div class="dual_standby" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">相機功能</label>
        <div class="camera" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        主相機 2100 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        前相機 400 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LED 閃光燈</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        自動對焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        錄影 4K</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        光學防手震</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        相位檢測自動對焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        BSI 背照式感光元件</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        雙色溫 LED 閃光燈</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        主相機 F2.2 光圈、26.7mm 廣角、4K 錄影</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        前相機 F2.0 光圈、26.8mm 廣角、1080p 錄影</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        藍寶石玻璃鏡頭</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">多媒體</label>
        <div class="multimedia" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        音訊支援 .aac, .amr, .ogg, .m4a, .mid, .mp3, .wav, .wma, .flac</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        視訊支援 .3gp, .3g2, .mp4, .wmv, .avi, .mkv</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        立體聲雙喇叭</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        A2DP藍牙立體聲</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        FM收音機</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        aptX</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        HTC Connect</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        DLNA</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        HTC BoomSound 雙喇叭</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Dolby 音效技術</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">連結與網路</label>
        <div class="network" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Wi-Fi</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        藍牙 v4.0</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        GPS</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        USB 2.0</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        NFC</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        3.5mm 耳機孔</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        4G LTE (FDD)－700/850/900/1800/2100/2600 MHz</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        4G LTE (TDD)－1900/2300/2500/2600 MHz</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">感應器</label>
        <div class="sensor_extra" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        環境光源感應器、距離感應器、加速度感應器、方向感應器</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        數位羅盤、陀螺儀、磁力計</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        指紋辨識器、Sensor Hub</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">電池</label>
        <div class="battery" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            2840 mAh (固定式)&nbsp;<br />
            通話 N/A 分鐘<br />
            待機 N/A 小時</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">顏色</label>
        <div class="color" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            金鑽銀、靚絲灰</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">其它</label>
        <div class="special" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        HTC Sense 7</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        內建 GPS 天線 + GLONASS、北斗衛星導航系統</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="clear" style="color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px; width: 0px !important; height: 0px !important; overflow: hidden !important; clear: both !important;">
    &nbsp;</div>
<p>
    <span class="statement" style="font-size: 15px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; line-height: 24px;">◎ 以上規格以原廠公布為準</span></p>

<br>
<br>
<br>
<p><a href={% url 'wiki:wiki' %}>回首頁</a></p>
</br>
</br>
</br>