<!doctype html>
{% load staticfiles %}

<h1>Samsung Galaxy S6</h1>
<p><img src={% static 'wiki/img/S6.png' %} alt=S6></p>
<ul class="featurelist" style="list-style: none; padding: 0px; margin: 0px; float: left; width: 690px; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-style: solid solid none; border-top-color: rgb(170, 170, 170); border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px;">
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">尺寸</label>
        <div class="size" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            143.4 x 70.5 x 6.8 mm</div>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">重量</label>
        <div class="weight" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            138g</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">SIM 卡規格</label>
        <div class="sim" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            nanoSIM</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">防水防塵</label>
        <div class="ipx" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">螢幕技術</label>
        <div class="screen" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        5.1 吋 1440 x 2560 S-AMOLED</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        577ppi 像素密度</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        600cd/m2 高亮度</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">作業系統</label>
        <div class="os" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            Android 5.0</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">處理器</label>
        <div class="cpu" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            八核心 Exynos 7420 (2.1GHz + 1.5Ghz)</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶體</label>
        <div class="ram1" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            3GB RAM</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">儲存空間</label>
        <div class="rom" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            32GB (實際可用空間較此值少)</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶卡</label>
        <div class="card" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">通訊協定</label>
        <div class="system" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            2G GSM 四頻、3G WCDMA 850 + 900 + 2100<br />
            4G LTE 700 + 900 + 1800</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">雙卡雙待</label>
        <div class="dual_standby" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">相機功能</label>
        <div class="camera" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        主相機 1600 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        前相機 500 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LED 閃光燈</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        自動對焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        錄影 4K QHD</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        OIS 光學防手震</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        0.7 秒快速啟動</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        HDR 即時預覽 (前後相機)</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        f/1.9 大光圈 (前後相機)</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        High Clear Zoom 數位變焦技術</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        IR Detect White Balance、Virtual Shot</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Selective Focus</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        慢動作拍攝、快速動作拍攝</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Pro 手動專業模式</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">多媒體</label>
        <div class="multimedia" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        音訊支援 MP3, AMR-NB, AMR-WB, AAC, AAC+, eAAC+, WMA, Vorbis, FLAC, OPUS</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        視訊支援 MP4,M4V,3GP,3G2,WMV,ASF,AVI,FLV,MKV,WEBM, VP9</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        A2DP藍牙立體聲</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">連結與網路</label>
        <div class="network" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Wi-Fi</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        藍牙 v4.1</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        GPS</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        USB 2.0</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        NFC</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        3.5mm 耳機孔</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LTE Cat.6 (300/50Mbps)</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        藍牙 4.1 支援 LE、apt-x、ANT+</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        IR 紅外線遙控</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        無線充電 (內建)，支援 WPC、PMA 標準</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">感應器</label>
        <div class="sensor_extra" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        加速度 / 光源 / 接距 / 霍爾感應器</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        指紋辨識、心跳感測器</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        陀螺儀、電子羅盤</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">電池</label>
        <div class="battery" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            2550 mAh (固定式)&nbsp;<br />
            通話 N/A 分鐘<br />
            待機 N/A 小時</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">顏色</label>
        <div class="color" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            羽光白、寶石黑、琥珀金、晶玉藍</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">其它</label>
        <div class="special" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LPDDR4 + UFS 2.0 快閃記憶體</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        KNOX8、Find MyMobile</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="clear" style="color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px; width: 0px !important; height: 0px !important; overflow: hidden !important; clear: both !important;">
    &nbsp;</div>
<p>
    <span class="statement" style="font-size: 15px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; line-height: 24px;">◎ 以上規格以原廠公布為準</span></p>
    
<br>
<br>
<br>
<p><a href={% url 'wiki:wiki' %}>回首頁</a></p>
</br>
</br>
</br>