<!doctype html>
{% load staticfiles %}

<h1>SONY Xperia Z5 Premium</h1>

<p><img src={% static 'wiki/img/Z5P.png' %} alt=Z5P></p>


<ul class="featurelist" style="list-style: none; padding: 0px; margin: 0px; float: left; width: 690px; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-style: solid solid none; border-top-color: rgb(170, 170, 170); border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px;">
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">尺寸</label>
        <div class="size" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            154.4 x 76.0 x 7.8 mm</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">重量</label>
        <div class="weight" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            180g</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">SIM 卡規格</label>
        <div class="sim" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            nanoSIM</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">防水防塵</label>
        <div class="ipx" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            IP65/IP68</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">螢幕技術</label>
        <div class="screen" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        5.5 吋 3840 x 2160 IPS TFT</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Triluminos display for Mobile</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        X-Reality for Mobile</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        動態對比增強技術</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        806 PPI</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">作業系統</label>
        <div class="os" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            Android 5.1</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">處理器</label>
        <div class="cpu" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            八核心 Snapdragon 810 MSM8994</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶體</label>
        <div class="ram1" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            3GB RAM</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">儲存空間</label>
        <div class="rom" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            32GB (實際可用空間較此值少)</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">記憶卡</label>
        <div class="card" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            microSD (最大支援容量 200 GB)</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">通訊協定</label>
        <div class="system" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            2G GSM 四頻、3G WCDMA 850 + 900 + 2100<br />
            4G LTE 700 + 900 + 1800 + FDD 2600</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">雙卡雙待</label>
        <div class="dual_standby" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            無</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">相機功能</label>
        <div class="camera" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        主相機 2300 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        前相機 500 萬像素</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LED 閃光燈</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        自動對焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        錄影 4K UHD</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        主相機</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        1/2.3 Exmor RS for mobile 感光元件</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        24mm 廣角 f2.0 光圈 G 鏡主鏡頭</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        0.03 秒高速對焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        5 倍清晰變焦功能</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        8 倍數位變焦</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        ISO 12800 Photo / ISO 3200 Video</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        4K 錄影功能</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        智慧式進階模式的 SteadyShot</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        脈衝式 LED 補光燈</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        25mm 廣角前鏡頭</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Exmor R For mobile 感光元件</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Full HD 錄影</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        SteadyShot with Intelligent Active 數位防震技術</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">多媒體</label>
        <div class="multimedia" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        立體聲雙喇叭</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        A2DP藍牙立體聲</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        FM收音機</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        High-Resolution Audio</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        DSEE HX</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        LDAC</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Digital Noise Cancelling</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Clear Audio+</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        S-Force Front Surround</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        立體聲錄音</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">連結與網路</label>
        <div class="network" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        Wi-Fi</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        藍牙 v4.0</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        GPS</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        USB 2.0</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        NFC</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        3.5mm 耳機孔</li>
                    <li class="sepline" style="list-style: none; padding: 0px 0px 0px 10px; margin: 0px; float: none; border-style: solid none none; width: 580px; position: relative; overflow: hidden; border-top-width: 1px; border-top-color: rgb(170, 170, 170); height: 1px;">
                        &nbsp;</li>
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        MHL 3.0、DLNA、WiFi MIMO</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">感應器</label>
        <div class="sensor_extra" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            N/A</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">電池</label>
        <div class="battery" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            3430 mAh (固定式)&nbsp;<br />
            通話 N/A 分鐘<br />
            待機 N/A 小時</div>
    </li>
    <li class="gray" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden; background-color: rgb(236, 236, 236);">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">顏色</label>
        <div class="color" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            銀、黑、金</div>
    </li>
    <li class="white" style="list-style: none; padding: 0px; margin: 0px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(170, 170, 170); width: 690px; position: relative; overflow: hidden;">
        <label style="font-weight: bold; width: 90px; margin: 0px; padding: 0px 9px 0px 0px; text-align: right; display: block; float: left; vertical-align: middle;">其它</label>
        <div class="special" style="float: left; width: 510px; padding: 0px 0px 0px 10px; margin: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(170, 170, 170);">
            <div style="float: none; width: auto; padding: 0px; margin: 0px; border: none;">
                <ul style="list-style: none; padding: 0px; margin: 0px 0px 0px -10px; border: none;">
                    <li style="list-style: none; padding: 0px 10px; margin: 0px; float: none; border: none; width: 510px; position: relative; overflow: hidden;">
                        QC2.0 快速充電</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
<div class="clear" style="color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; font-size: 15px; line-height: 24px; width: 0px !important; height: 0px !important; overflow: hidden !important; clear: both !important;">
    &nbsp;</div>
<p>
    <span class="statement" style="font-size: 15px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Arial, 'Heiti TC', 'LiHei Pro', 微軟正黑體, sans-serif, 新細明體; line-height: 24px;">◎ 以上規格以原廠公布為準</span></p>



<br>
<br>
<br>
<p><a href={% url 'wiki:wiki' %}>回首頁</a></p>
</br>
</br>
</br>